@font-face {
  font-family: 'Rapscallion';
  src: url('/src/rapscallion-font/Rapscallion-q341.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pirate {
  max-width: 80vw;
  margin: 2rem auto;
}

h2 {
  font-family: "Trade Winds", cursive;
  color: #F95738;
}

section {
  background-color: #235789;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted black;
  margin-bottom: 1rem;
  height: 50vh;
  
}

section summary{
  position: relative;
}

section h3{
  font-family: 'Rapscallion','Arial';
  font-size: 2.5rem;
  color: #F95738;
  position: absolute;
  top:120px;
  left:5px;
}

section ul{
  border: 2px solid #070707;
  background-color: #34D1BF;
  height: 35%;
  position:absolute;
  top:190px;
  display: flex;
  flex-direction: column;
  justify-self:center;
  position: absolute;
  top: 190px;
  

}

section li{
  list-style: square;
  list-style-image: url(../img/pirate-list.png);
  list-style-position: outside;
  margin: 5px;
  
  
  
}

article {
  flex: 1;
}

article p{
  font-family: 'Rapscallion';
  font-size: 2.5rem;
  color: #F95738;
}
img{
  margin-top: 5px;
}
